
<div>
    <ngb-accordion class="acor">
        <ngb-panel id="btn2" title="LISTADO CLIENTES"><br><br>
            <ng-template ngbPanelContent>
              
               <button id="btn6" class="btn btn-success" (click)="'/'">GENERAR</button>
            </ng-template>
          </ngb-panel>
    
          <ngb-panel id="btn3" title="VENTAS POR CLIENTE"><br><br>
            <ng-template ngbPanelContent>
              
               <button id="btn6" class="btn btn-success" (click)="'/'">GENERAR</button>
            </ng-template>
          </ngb-panel>
    
    
    </ngb-accordion>
</div>


